<!DOCTYPE html>
<html lang="en">
<head>
	<title>Sad + Loud</title>
</head>
<body>

<main>
	<div class="page">
		<h1>Sad + Loud</h1>
	</div>
</main>

</body>
<footer>
	<div>
		<p>2015</p>
	</div>
</footer>
</html>